header,footer{
    color:black;
    font-weight: bold;
    background-color: orange;
    text-align: center;
    padding: 0.5em;
}
h2{
    font-size: 1em;
}
.encabezado{
    color:white;
    background-color: orange;
}
.receta{
    margin: 2em 0 2em 0;
}

.sopareceta{
    font-weight: bold;
}

img{
    margin-left: 10em;
}
.acercade{
    margin-top: 0.5em;
}
.contacto{
    margin-bottom: 5em;
}

.linksorange{
    font-size: 0.75em;
    color:white;
    background-color: orangered;
    padding: 0.3em;
}
.mail{
    color:blue
}